In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
header_string="GLOBALEVENTID	SQLDATE	MonthYear	Year	FractionDate	Actor1Code	Actor1Name	Actor1CountryCode	Actor1KnownGroupCode	Actor1EthnicCode	Actor1Religion1Code	Actor1Religion2Code	Actor1Type1Code	Actor1Type2Code	Actor1Type3Code	Actor2Code	Actor2Name	Actor2CountryCode	Actor2KnownGroupCode	Actor2EthnicCode	Actor2Religion1Code	Actor2Religion2Code	Actor2Type1Code	Actor2Type2Code	Actor2Type3Code	IsRootEvent	EventCode	EventBaseCode	EventRootCode	QuadClass	GoldsteinScale	NumMentions	NumSources	NumArticles	AvgTone	Actor1Geo_Type	Actor1Geo_FullName	Actor1Geo_CountryCode	Actor1Geo_ADM1Code	Actor1Geo_Lat	Actor1Geo_Long	Actor1Geo_FeatureID	Actor2Geo_Type	Actor2Geo_FullName	Actor2Geo_CountryCode	Actor2Geo_ADM1Code	Actor2Geo_Lat	Actor2Geo_Long	Actor2Geo_FeatureID	ActionGeo_Type	ActionGeo_FullName	ActionGeo_CountryCode	ActionGeo_ADM1Code	ActionGeo_Lat	ActionGeo_Long	ActionGeo_FeatureID	DATEADDED	SOURCEURL"

In [3]:
headers = header_string.split('\t')

In [89]:
df = pd.read_csv('data/20190131.export.CSV',sep='\t',header=None)

In [90]:
df.columns=headers

In [91]:
df.head()

,GLOBALEVENTID,SQLDATE,MonthYear,Year,FractionDate,Actor1Code,Actor1Name,Actor1CountryCode,Actor1KnownGroupCode,Actor1EthnicCode,...,Actor2Geo_FeatureID,ActionGeo_Type,ActionGeo_FullName,ActionGeo_CountryCode,ActionGeo_ADM1Code,ActionGeo_Lat,ActionGeo_Long,ActionGeo_FeatureID,DATEADDED,SOURCEURL
0,820200081,20180131,201801,2018,2018.0849,NaN,NaN,NaN,NaN,NaN,...,CH,1,China,CH,CH,35.0000,105.0000,CH,20190131,https://in.reuters.com/article/us-lng-trade/of...
1,820200082,20180131,201801,2018,2018.0849,NaN,NaN,NaN,NaN,NaN,...,-569229,4,"Michipicoten, Ontario, Canada",CA,CA08,47.9500,-84.9167,-569229,20190131,https://o.canada.com/pmn/news-pmn/canada-news-...
2,820200083,20180131,201801,2018,2018.0849,NaN,NaN,NaN,NaN,NaN,...,1618306,3,"Isle Royale, Michigan, United States",US,USMI,48.0004,-88.8334,1618306,20190131,https://o.canada.com/pmn/news-pmn/canada-news-...
3,820200084,20180131,201801,2018,2018.0849,AFR,AFRICA,AFR,NaN,NaN,...,NaN,3,"Ottoville, Ohio, United States",US,USOH,40.9323,-84.3388,1070885,20190131,https://putnamsentinel.com/Content/Opinion/Opi...
4,820200085,20180131,201801,2018,2018.0849,AFR,AFRICA,AFR,NaN,NaN,...,NaN,3,"Columbus, Ohio, United States",US,USOH,39.9612,-82.9988,1080996,20190131,https://putnamsentinel.com/Content/Opinion/Opi...

In [92]:
np.mean(df.GoldsteinScale)

0.6870265016454581

In [93]:
df.describe()

,GLOBALEVENTID,SQLDATE,MonthYear,Year,FractionDate,IsRootEvent,EventCode,EventBaseCode,EventRootCode,QuadClass,...,Actor1Geo_Type,Actor1Geo_Lat,Actor1Geo_Long,Actor2Geo_Type,Actor2Geo_Lat,Actor2Geo_Long,ActionGeo_Type,ActionGeo_Lat,ActionGeo_Long,DATEADDED
count,1.893100e+05,1.893100e+05,189310.000000,189310.000000,189310.000000,189310.000000,189310.000000,189310.000000,189310.000000,189310.000000,...,189310.000000,166359.000000,166381.000000,189310.000000,132386.000000,132402.000000,189310.000000,184154.000000,184179.000000,189310.0
mean,8.203368e+08,2.018999e+07,201899.592974,2018.985928,2019.070398,0.622233,98.465364,68.788532,6.690999,1.787444,...,2.440848,30.990836,-11.512839,1.932772,30.866116,-9.140797,2.717178,30.885685,-12.066671,20190131.0
std,8.258708e+04,1.759594e+03,17.592930,0.176037,0.176045,0.484830,189.789656,53.921791,5.399853,1.108829,...,1.481250,20.720750,79.548696,1.651942,20.546973,78.761665,1.306558,20.740205,79.737016,0.0
min,8.202001e+08,2.009020e+07,200902.000000,2009.000000,2009.087700,0.000000,10.000000,10.000000,1.000000,1.000000,...,0.000000,-85.622100,-176.533000,0.000000,-85.622100,-176.533000,0.000000,-85.622100,-176.533000,20190131.0
25%,8.202625e+08,2.019013e+07,201901.000000,2019.000000,2019.084900,0.000000,36.000000,36.000000,3.000000,1.000000,...,1.000000,24.866700,-82.364200,0.000000,24.466700,-80.860400,1.000000,24.854800,-82.775500,20190131.0
50%,8.203360e+08,2.019013e+07,201901.000000,2019.000000,2019.084900,1.000000,46.000000,46.000000,4.000000,1.000000,...,3.000000,36.170000,-2.583330,2.000000,36.000000,-0.116667,3.000000,36.170000,-3.200000,20190131.0
75%,8.204105e+08,2.019013e+07,201901.000000,2019.000000,2019.084900,1.000000,111.000000,110.000000,11.000000,3.000000,...,4.000000,42.344200,42.000000,4.000000,42.237300,44.206700,4.000000,42.321200,40.779400,20190131.0
max,8.204759e+08,2.019013e+07,201901.000000,2019.000000,2019.084900,1.000000,1832.000000,203.000000,20.000000,4.000000,...,5.000000,81.000000,179.383000,5.000000,81.000000,179.383000,5.000000,81.000000,179.383000,20190131.0

In [94]:
query = 6.927079, 79.861244

In [95]:
def get_close_events(df, query, dist):
    '''
    Gets events to query within dist
    '''
    lat_mask = np.abs(df.ActionGeo_Lat-query[0])<dist
    long_mask = np.abs(df.ActionGeo_Long-query[1])<dist
    cum_mask = lat_mask & long_mask
    filtered = df[cum_mask]
    return filtered

In [96]:
def create_scores(df):
    '''
    Adds a column to the dataframe based on algorithm
    '''
    df['score'] = df['AvgTone']*df['NumMentions']
    return df

In [97]:
def rank_events(df):
    '''
    Ranks events within the dataframe
    '''
    df = df.sort_values(by=['score'])
    return df

In [98]:
def run_event_query(df, query, dist):
    f = get_close_events(df, query, dist)
    f_scored = create_scores(f)
    f_ranked = rank_events(f_scored)
    return f_ranked

In [99]:
result = run_event_query(df, query)

TypeError: run_event_query() missing 1 required positional argument: 'dist'

In [100]:
result.head()

,GLOBALEVENTID,SQLDATE,MonthYear,Year,FractionDate,Actor1Code,Actor1Name,Actor1CountryCode,Actor1KnownGroupCode,Actor1EthnicCode,...,ActionGeo_Type,ActionGeo_FullName,ActionGeo_CountryCode,ActionGeo_ADM1Code,ActionGeo_Lat,ActionGeo_Long,ActionGeo_FeatureID,DATEADDED,SOURCEURL,score
149311,820137597,20190130,201901,2019,2019.0822,LKA,COLOMBO,LKA,NaN,NaN,...,4,"Colombo Harbour, Western, Sri Lanka",CE,CE36,6.95140,79.8479,-2214881,20190130,http://colombogazette.com/2019/01/30/customs-o...,-93.750000
101664,820062438,20190130,201901,2019,2019.0822,LAB,TRADE UNION,NaN,NaN,NaN,...,4,"Colombo Harbour, Western, Sri Lanka",CE,CE36,6.95140,79.8479,-2214881,20190130,http://www.adaderana.lk/news/52975/customs-off...,-83.669787
155566,820147033,20190130,201901,2019,2019.0822,MED,LEADING NEWS,NaN,NaN,NaN,...,4,"Colombo, Western, Sri Lanka",CE,CE36,6.93194,79.8478,-2214877,20190130,http://www.colombopage.com/archive_19A/Jan30_1...,-70.175439
155541,820147008,20190130,201901,2019,2019.0822,LKA,SRI LANKA,LKA,NaN,NaN,...,4,"Colombo, Western, Sri Lanka",CE,CE36,6.93194,79.8478,-2214877,20190130,http://www.colombopage.com/archive_19A/Jan30_1...,-70.175439
56113,819989979,20190129,201901,2019,2019.0795,LKA,COLOMBO,LKA,NaN,NaN,...,4,"Colombo, Western, Sri Lanka",CE,CE36,6.93194,79.8478,-2214877,20190130,http://www.colombopage.com/archive_19A/Jan30_1...,-46.666667

In [101]:
url = result.iloc[5].SOURCEURL

In [102]:
from sumy.parsers.html import HtmlParser
from sumy.summarizers.lsa import LsaSummarizer as Summarizer
from sumy.nlp.stemmers import Stemmer
from sumy.utils import get_stop_words
from sumy.nlp.tokenizers import Tokenizer

LANGUAGE = 'english'
SENTENCES_COUNT = 3

In [103]:
def get_summary(url):
    try:
        parser = HtmlParser.from_url(url, Tokenizer(LANGUAGE))
        stemmer = Stemmer(LANGUAGE)

        summarizer = Summarizer(stemmer)
        summarizer.stop_words = get_stop_words(LANGUAGE)

        return ' '.join(map(str,summarizer(parser.document, SENTENCES_COUNT)))
    except:
        return None

In [104]:
get_summary(url)

'DIG Nalaka de Silva who was arrested over the alleged assassination plot involving the President and the former Defence Secretary has been further remanded until February 13. Meanwhile, CID today informed court that statements have been recorded from MPs Namal Rajapaksa, Wimal Weerawangsa and his wife over certain remarks made by the Indian national who has been remanded over the alleged plot. MP Rajapaksa while issuing the statement had said that he could not recall meeting the Indian national identified as Marceli Thomas since several people visit him regularly.'

In [105]:
import json

In [106]:
def get_full_query(df, query, num_results=5, dist=0.1):
    output = []
    event_list = run_event_query(df, query, dist)
    num_iters = num_results
    i = 0

    # keep track of unique URLs
    visited_urls = set()
    
    # iterate until end of event list or requisite number of results
    while num_iters and i < len(event_list):
        # get relevant row in dataframe
        event = event_list.iloc[i]

        i += 1
        if event.SOURCEURL in visited_urls:
            continue

        # see if url is valid for summary
        summary = get_summary(event.SOURCEURL)
        if not summary:
            continue
        
        # create result dictionary
        result = {}
        result['url'] = event.SOURCEURL
        result['text'] = summary
        result['score'] = event.score
        result['lat'] = str(event.ActionGeo_Lat)
        result['long'] = str(event.ActionGeo_Long)
        result['date'] = str(event.SQLDATE)
        
        # append result
        output.append(result)
        
        # iterate
        visited_urls.add(event.SOURCEURL)
        num_iters -= 1
    
    # output
    print (json.dumps(output))

In [107]:
get_full_query(df, query)

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

[{"url": "https://sg.news.yahoo.com/sri-lanka-rules-scrapping-debt-laden-national-carrier-112956283--finance.html", "text": "Sri Lanka has decided against liquidating its national airline and will scout for a foreign investor, a minister said Thursday, despite warnings the loss-making carrier could drag on the economy. A panel convened by President Maithripala Sirisena to determine the fate of debt-saddled SriLankan Airlines recommended it be retained, but subjected to a major financial restructuring. The International Monetary Fund -- which bailed out the government with a $1.5-billion loan in 2016 -- has warned the flailing carrier needs to be overhauled as a matter of priority to sustain economic growth.", "score": -237.35576733058892, "lat": "6.931939999999999", "long": "79.8478", "date": "20190131"}, {"url": "https://www.newsfirst.lk/2019/01/31/two-arrested-with-over-41-kg-of-kerala-ganja-in-jaffna/", "text": "Colombo (News1st): Two suspects connected to smuggling Kerala Ganja were arrested in Manipay Road, Jaffna following a raid carried out by the Police Narcotics Bureau, Colombo. The duo were arrested while transporting cannabis in a motorbike last night (Jan 30). They are due to be produced before the Jaffna Magistrate Court today (Jan 31).", "score": -202.24719101123605, "lat": "6.931939999999999", "long": "79.8478", "date": "20190131"}, {"url": "http://www.colombopage.com/archive_19A/Jan31_1548920239CH.php", "text": "Jan 31, Colombo: The Government of Sri Lanka has strongly condemned the terrorist attack by the ELN at the Police Academy in Bogot\u00e0, Colombia on 17 January 2019. \"The Government and the people of Sri Lanka convey their deepest condolences to the families of the victims and wish those who were injured a speedy recovery,\" Ministry of Foreign Affairs said in a statement Thursday. The car bomb attack by the ELN rebel group against a police academy killed at least 21 and injured dozens.", "score": -125.80645161290283, "lat": "6.931939999999999", "long": "79.8478", "date": "20190131"}, {"url": "https://nationalpost.com/pmn/news-pmn/sri-lanka-plans-1st-death-sentence-executions-since-1976", "text": "It said he announced his decision Wednesday in a southern part of the island nation where large amounts of illegal drugs have been discovered. Sri Lankan police in recent months have intensified their efforts to crack down on drugs, seizing 90 kilograms (198 pounds) of heroin from a luxury apartment in the capital, Colombo. \u201cIt will buck the global trend away from use of the death penalty and only serve to harm the health and human rights of Sri Lanka\u2019s citizens.\u201d", "score": -112.29946524064201, "lat": "6.931939999999999", "long": "79.8478", "date": "20190131"}, {"url": "https://www.newsfirst.lk/2019/01/31/drug-peddler-sentenced-to-death/", "text": "COLOMBO(News 1st) \u2013 A defendant found guilty for two indictments, possession of 24 grams of heroin and peddling drugs, was sentenced to death by the Colombo High Court today (January 31). An open warrant was issued for the arrest of the defendant who evaded following the conclusion of the hearing. The judge also ordered the attorney\u2019s of the bondsmen to present facts to explain why the money placed as bonds should not be confiscated.", "score": -96.77419354838699, "lat": "6.931939999999999", "long": "79.8478", "date": "20190131"}]

In [108]:
get_full_query(df, (13.756331, 100.501762))

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

[{"url": "https://www.myplainview.com/news/medical/article/Bangkok-flies-drones-seeks-better-ideas-to-13576012.php", "text": "A fleet of drones, trucks and small planes are spraying water to try to reduce dust around Bangkok while the governor invited critics to brainstorm better ideas to improve the air quality in the Thai capital. Faced with public discontent as well as a possible health crisis, Bangkok's governor, Police Gen. Asawin Kwanmuang, has declared the city a \"pollution control zone,\" allowing firmer measures such as road closings and limits on diesel exhaust, outdoor burning and construction activities. Police announced Thursday that they have arrested the operator of a website that falsely claimed that a woman had died as a result of tiny \"PM 2.5\" particulate matter that experts say is one of the most dangerous constituents of air pollution because it can penetrate deep into the lungs.", "score": -642.4460896932386, "lat": "13.75", "long": "100.51700000000001", "date": "20190131"}, {"url": "https://www.news.com.au/travel/travel-updates/incidents/australian-womans-traumatic-time-locked-in-thai-detention-for-12-days/news-story/c27b3b1ed2b26fd02f504b0bfb49d65e", "text": "Claire Licciardo knew Thai detention would be bad, but she never imagined how \u201chorrific\u201d conditions would be and the \u201cblatant disregard\u201d for humanity she saw. The Australian woman was in detention for 12 days this month with none of her belongings, forced to get by on the 100 Thai Baht ($4) she had on her, nearly half of which went straight to buying a blanket, leaving little for food or clean water. Ms Licciardo said she left Pattaya, where she spent New Year\u2019s Eve, to go via Bangkok and was going through immigration to get her new passport stamped when she was stopped.", "score": -634.9086400000518, "lat": "13.75", "long": "100.51700000000001", "date": "20190131"}, {"url": "https://www.dailymail.co.uk/news/article-6651733/Australian-woman-locked-Thai-detention-centre-tells-conditions-endured-12-days.html", "text": "At the time of the messages earlier this month, Ms Potter told Daily Mail Australia her friend was terrified and asking for money to buy supplies from detention centre officials. Claire Johnson, 46 (pictured), said she had feared she would receive a 20,000 baht ($880) fine at worst but instead she was transferred to the Immigration Detention Centre in Bangkok Ms Johnson, who is an ex-cosmetic tourism operator, said she was told the room would be like the immigration office but the reality was a cell meant for 30 crammed with 200 women.", "score": -539.4655774246867, "lat": "13.75", "long": "100.51700000000001", "date": "20190131"}, {"url": "https://lowvelder.co.za/afp/566781/facebook-to-bar-foreign-electoral-ads-for-thai-poll/", "text": "Facebook said in a newsroom post it would help \u201cprotect\u201d the Thai vote by temporarily not allowing ads from \u201cforeign entities which are of an electoral nature\u201d. The new rules, which cover paid-for content, will take effect from mid-February and will apply to external ads with references to \u201cpoliticians, parties, \u2018getting out the vote\u2019, and/or election suppression,\u201d the post said. Thaksin Shinawatra, who was ousted in a 2006 coup and lives abroad to avoid charges he says are politically motivated, has a widely followed Facebook page.", "score": -312.8091230703604, "lat": "13.75", "long": "100.51700000000001", "date": "20190131"}, {"url": "https://www.theaustralian.com.au/news/latest-news/thai-man-faces-jail-over-fake-news-post/news-story/d79ebe9f4c9158bf9c286c23e4ba7eab?nk=ec1b626ebedd8d677d52babcfc194ee8-1548935357", "text": "A Thai man has been arrested and charged with a computer crime for posting fake news on his website, local authorities say. So we have charged him with inserting false information into the computer system to cause panic which can lead to up to five years in jail,\" Surachate said. The website showed pictures of a woman with a swollen face and neck at a hospital, but Surachate said she died of another illness.", "score": -268.223854209166, "lat": "13.75", "long": "100.51700000000001", "date": "20190131"}]

In [2]:
from sumy.parsers.html import HtmlParser
from sumy.summarizers.lsa import LsaSummarizer as Summarizer
from sumy.nlp.stemmers import Stemmer
from sumy.utils import get_stop_words
from sumy.nlp.tokenizers import Tokenizer

In [10]:
import json
import nltk
from nltk.corpus import wordnet

In [11]:
DATA_LIST = [
    'data/20190130.export.CSV',
    'data/20190131.export.CSV',
    'data/20190201.export.CSV',
]

In [69]:
class DataBase():
    def __init__(self, DATA_LIST, SCORE_THRESHOLD=-100, LANGUAGE='english',
                 SENTENCES_COUNT=4, NUM_RESULTS=5):
        self.SCORE_THRESHOLD=SCORE_THRESHOLD
        self._initialize_data(DATA_LIST)
        self.LANGUAGE = LANGUAGE
        self.SENTENCES_COUNT = SENTENCES_COUNT
        self.NUM_RESULTS = NUM_RESULTS
        self.KEYWORDS = None
    
    def _initialize_data(self, data_list):
        '''
        Consolidates data into one file with score thresholds below given threshold
        '''
        print('\n **INITIALIZING DATA**')

        header_string="GLOBALEVENTID	SQLDATE	MonthYear	Year	FractionDate	Actor1Code	Actor1Name	Actor1CountryCode	Actor1KnownGroupCode	Actor1EthnicCode	Actor1Religion1Code	Actor1Religion2Code	Actor1Type1Code	Actor1Type2Code	Actor1Type3Code	Actor2Code	Actor2Name	Actor2CountryCode	Actor2KnownGroupCode	Actor2EthnicCode	Actor2Religion1Code	Actor2Religion2Code	Actor2Type1Code	Actor2Type2Code	Actor2Type3Code	IsRootEvent	EventCode	EventBaseCode	EventRootCode	QuadClass	GoldsteinScale	NumMentions	NumSources	NumArticles	AvgTone	Actor1Geo_Type	Actor1Geo_FullName	Actor1Geo_CountryCode	Actor1Geo_ADM1Code	Actor1Geo_Lat	Actor1Geo_Long	Actor1Geo_FeatureID	Actor2Geo_Type	Actor2Geo_FullName	Actor2Geo_CountryCode	Actor2Geo_ADM1Code	Actor2Geo_Lat	Actor2Geo_Long	Actor2Geo_FeatureID	ActionGeo_Type	ActionGeo_FullName	ActionGeo_CountryCode	ActionGeo_ADM1Code	ActionGeo_Lat	ActionGeo_Long	ActionGeo_FeatureID	DATEADDED	SOURCEURL"
        headers = header_string.split('\t')

        self.DATA = pd.DataFrame(columns=headers)
        
        for df_fp in data_list:
            print('READING {data}'.format(data=df_fp))

            # read in dataframe
            df = pd.read_csv(df_fp, sep='\t', header=None)
            df.columns = headers
            
            # create score column
            df = self._create_scores(df)
            
            # create mask for threshold
            mask = df['score'] < self.SCORE_THRESHOLD
    
            # append masked dataframe to self.DATA
            self.DATA = self.DATA.append(df[mask])
    
        # sort data by score
        self.DATA = self._rank_events(self.DATA)
        
        print('INITIALIZED DATA')

    def query(self, query_list, out_path='query_result.json'):
        '''
        Runs a query across all files in the DATA_LIST
        
        query_list: a list of tuples (location_name, location_lat, location_long, dist, keywords)

        Outputs a dictionary with the date and significant events for each location
        '''
        print('\n **RUNNING QUERY**')
        self.output = {}
        
        # create dictionary with location as keys
        for query in query_list:
            self.output[query[0]] = self._get_query_events(self.DATA, query)
    
        # return jsonified output
        with open(out_path, 'w') as outfile:
            json.dump(self.output, outfile)
            print('DUMPED TO {outfile}'.format(outfile=out_path))
        print('FINISHED QUERY')

    def _get_query_events(self, df, query):
        '''
        Updates self.output with events from the specified filepath
        '''
        location = query[0]
        print('QUERYING: {location}'.format(location=location))
        lat, long, dist = query[1], query[2], query[3]
        keywords = self._get_keyword_synonyms(query[4])
        return self._get_relevant_event_details(df, lat, long, dist, keywords)

    def _get_keyword_synonyms(self, KEYWORD_LIST):
        '''
        utilizes ntlk to create a set of synonyms
        '''
        keyword_list = set()
        for keyword in KEYWORD_LIST:
            # add initial keyword
            keyword_list.add(keyword)
    
            # get synonyms
            for syn in wordnet.synsets(keyword)[:3]:
                for l in syn.lemmas():
                    keyword_list.add(l.name())
        return keyword_list

    def _get_relevant_event_details(self, df, lat, long, dist, keywords):
        '''
        Gets relevant events (relevance = close & associated)
        '''        
        # get close events
        close_events = self._get_close_events(df, lat, long, dist)

        return self._get_associated_event_details(close_events, keywords)

    def _get_summary(self, url):
        '''
        Gets summary from the url
        '''
        try:
            parser = HtmlParser.from_url(url, Tokenizer(self.LANGUAGE))
            stemmer = Stemmer(self.LANGUAGE)

            summarizer = Summarizer(stemmer)
            summarizer.stop_words = get_stop_words(self.LANGUAGE)

            return ' '.join(map(str,summarizer(parser.document, self.SENTENCES_COUNT)))
        
        except:
            return None
    
    def _get_associated_event_details(self, df, keywords):
        '''
        Gets self.NUM_RESULTS events that have keywords
        and creates a description object
        '''
        output = []

        # get associated events
        num_iters = self.NUM_RESULTS
        i = 0

        # keep track of unique URLs
        visited_urls = set()

        # iterate until end of event list or requisite number of results
        while num_iters and i < len(df):
            # get relevant row in dataframe
            event = df.iloc[i]

            i += 1
            
            # check if URL has been visited before
            if event.SOURCEURL in visited_urls:
                continue

            # see if url is valid for summary
            summary = self._get_summary(event.SOURCEURL)
            if not summary:
                continue
            
            # convert summary into word set
            summary_set = set(summary.split())

            # see if there's an overlap between the summary
            if not len(keywords.intersection(summary_set)):
                continue

            # create result dictionary
            result = {}
            result['url'] = event.SOURCEURL
            result['text'] = summary
            result['score'] = event.score
            result['lat'] = str(event.ActionGeo_Lat)
            result['long'] = str(event.ActionGeo_Long)
            result['date'] = str(event.SQLDATE)

            # append result
            output.append(result)

            # iterate
            visited_urls.add(event.SOURCEURL)
            num_iters -= 1
        return output

    def _get_close_events(self, df, lat, long, dist):
        '''
        Gets events to query within dist
        '''
        lat_mask = np.abs(df.ActionGeo_Lat-lat)<dist
        long_mask = np.abs(df.ActionGeo_Long-long)<dist
        cum_mask = lat_mask & long_mask
        filtered = df[cum_mask]
        return filtered

    def _create_scores(self, df):
        '''
        Adds a column to the dataframe based on algorithm
        '''
        df['score'] = df['AvgTone']*df['NumMentions']
        return df

    def _rank_events(self, df):
        '''
        Ranks events within the dataframe
        '''
        df = df.sort_values(by=['score'])
        return df

In [70]:
DB = DataBase(DATA_LIST)

 **INITIALIZING DATA**
READING data/20190130.export.CSV
READING data/20190131.export.CSV
READING data/20190201.export.CSV
INITIALIZED DATA

In [71]:
query_list = [
    ('nairobi', -1.28333, 36.81667, 0.5, ['vegetables']),
    ('guatemala city', 14.628434, -90.522713, 0.5, ['peas']),
    ('bangkok', 13.736717, 100.524186, 0.5, ['rice', 'seafood']),
    ('chonburi', 13.361143, 100.984673, 0.5, ['rice', 'seafood']),
    ('ho chi minh', 10.762622, 106.660172, 0.5, ['sauce']),
    ('samsun', 41.28667, 36.33, 0.5, ['sweets', 'sugar']),
    ('senai', -15.787996858, -47.873663172, 0.5, ['sauces'])
]

In [72]:
DB.query(query_list)

 **RUNNING QUERY**
QUERYING: nairobi
QUERYING: guatemala city
QUERYING: bangkok
QUERYING: chonburi
QUERYING: ho chi minh
QUERYING: samsun
QUERYING: senai
DUMPED TO query_result.json
FINISHED QUERY